@use '../../assets/styles/index' as *;

body {
    padding-top: var(--header-height);
    box-sizing: border-box;
    min-height: var(--viewport-height);
}

$header-height: 44px;

.container {
    position: fixed;
    z-index: 1001;
    top: 0;
    left: 0;
    right: 0;
}

.header {
    width: 100%;
    box-sizing: border-box;
    padding-left: env(safe-area-inset-left, 2px);
    padding-right: env(safe-area-inset-right);
    padding-top: env(safe-area-inset-top);
    height: $header-height;
    height: calc(#{$header-height} + env(safe-area-inset-top));
    display: flex;
    flex-direction: row;
    align-items: center;
    background: $gradient;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;

    :global(.app-icon) {
        font-size: 1.33em;

        &:hover {
            color: $primary;
            cursor: pointer;
            transition: color 0.2s linear;
        }
    }
}

.menuItem {
    margin: 0 8px;
    text-decoration: none;
    font-size: 13px;
    -webkit-touch-callout: none;
    user-select: none;
    outline: none;
    white-space: nowrap;

    color: white;
    cursor: pointer;

    &:hover,
    &.active {
        color: $primary;
        transition: color 0.2s linear;
    }
}