$arc: #85c5ec;
$solar: #f2721b;
$void: #814bcf;

$common: #dcdcdc;
$uncommon: #366e42;
$rare: #5076a3;
$legendary: #513065;
$exotic: #c3a019;

$xp: #5ea16a;
$gold: #f5dc56;
$power: $gold;

$masterwork-border-color: #eade8b;
$deepsight-border-color: #d25336;

$item-border-width: 1px;

$equipped-item-border: 1px;
$equipped-item-padding: 2px;
$equipped-item-total-outset: #{2 * ($equipped-item-border + $equipped-item-padding)};

$badge-font-size: '(var(--item-size) / 5)';
$badge-height: '(#{$badge-font-size} + 4px)';