$arc: #85c5ec;
$solar: #f2721b;
$void: #814bcf;
$stasis: #4d88ff;

$common: #dcdcdc;
$uncommon: #366e42;
$rare: #5076a3;
$legendary: #513065;
$exotic: #c3a019;

$xp: #5ea16a;
$gold: #f5dc56;
$power: $gold;

$masterwork-border-color: #eade8b;
$deepsight-border-color: #d25336;

$item-border-width: 1px;

$equipped-item-border: 1px;
$equipped-item-padding: 2px;
$equipped-item-total-outset: #{2 * ($equipped-item-border + $equipped-item-padding)};

$badge-font-size: '(var(--item-size) / 5)';
$badge-height: '(#{$badge-font-size} + 4px)';

$primary: #da004e;
$secondary: #843da4;
$gradient: radial-gradient(circle at 50% 70px,
        hsl(295, 84%, 15%) 0%,
        hsl(295, 29%, 11%) 100%);

:root {
    --header-height: 44px;

    overflow-y: scroll;
}

div[tableindex='-1']:focus {
    outline: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: normal;
}

label {
    cursor: inherit;
}

div:focus,
span:focus {
    outline-width: 0;
}

a {
    color: #ddd;
    cursor: pointer;
    text-decoration: underline;
}

h2,
h3 {
    margin-top: 20px;
    margin-bottom: 15px;
}

html,
body {
    overscroll-behavior: none;
}

body {
    margin: 0 auto;
    background-color: #313233;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: calc(16 / 12);
    accent-color: $primary;
    -webkit-user-drag: none;
    text-size-adjust: none;
}

h2,
h3,
h4 {
    font-weight: 400;
}

.disabled {
    opacity: 0.5;
}

*[role='button'] {
    cursor: pointer;
}

.loadout-manager-button {
    cursor: pointer;
    padding: 4px 10px;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 12px;
    line-height: calc(16 / 12);
    font-family: 'Open Sans', sans-serif, Arial;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
    border: 1px solid transparent;
    transition: all 150ms ease-out;
    box-sizing: border-box;
    text-align: center;

    img {
        height: 1.3em;
        width: auto;
        vertical-align: bottom;
        margin: 0 0.3em;
        filter: drop-shadow(0 0 1px black);
        transform: filter 150ms ease-out;
    }

    &:hover,
    &:active,
    &.selected {
        background-color: $primary  !important;
        color: black !important;

        img {
            filter: invert(1) drop-shadow(0 0 1px black);
        }
    }

    input {
        display: none;
    }

    &[disabled] {
        opacity: 0.5;
        cursor: not-allowed;

        &:hover,
        &:active,
        &.selected {
            background-color: rgba(255, 255, 255, 0.2) !important;
            color: white !important;

            img {
                filter: drop-shadow(0 0 1px black);
            }
        }
    }

    &.danger {
        &:hover {
            background-color: $secondary  !important;
        }
    }

    &:focus {
        border-color: $primary;
        outline: none;
    }

    &:focus:not(:focus-visible) {
        border-color: transparent;
    }

    & .app-icon {
        margin-right: 4px;
    }
}

a.loadout-manager-button {
    text-decoration: none;
}

// Mixins

@mixin destiny-header {
    text-transform: uppercase;
    font-weight: 600;
    font-family: Helvetica, Arial, sans-serif;
}