// Variable values

$arc: #85c5ec;
$solar: #f2721b;
$void: #814bcf;
$stasis: #4d88ff;

$common: #dcdcdc;
$uncommon: #366e42;
$rare: #5076a3;
$legendary: #513065;
$exotic: #c3a019;

$xp: #5ea16a;
$gold: #f5dc56;
$power: $gold;

$masterwork-border-color: #eade8b;
$deepsight-border-color: #d25336;

$primary: #da004e;
$secondary: #843da4;